tr,
td {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.App-customers-table-row {
  display: flex;
  padding: 19px 0px;
  border-bottom: 1px solid #EEEEEE;
}

.App-customers-table-row span {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #292D32;
  display: flex;
  align-items: center;
  color: #292D32;
}

.App-customers-table-row td {
  width: 100%;
  display: flex;
  align-items: center;
}

.App-customers-table-row td:nth-child(1) {
  max-width: 172px;
  margin-left: -2px;
}

.App-customers-table-row td:nth-child(2) {
  max-width: 131px;
}

.App-customers-table-row td:nth-child(3) {
  max-width: 156px;
}

.App-customers-table-row td:nth-child(4) {
  max-width: 207px;
}

.App-customers-table-row td:nth-child(5) {
  max-width: 140px;
}

.App-customers-table-row td:nth-child(6) {
  width: auto;
}

.App-customers-table-row td:nth-child(6) span {
  width: 78px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 21px;
  letter-spacing: -0.01em;
  border-radius: 4px;
}